// Mixins Here
.button-style(@buttonColor, @buttonWidth, @buttonFont) {
    background-color: @buttonColor;
    border-radius   : 10px;
    width           : @buttonWidth;
    height          : 40px;
    font-size       : @buttonFont;
    color           : @white;
    text-align      : center;
    padding         : 10px 0px;
    cursor          : pointer;
}