// Navigation code here
.navigation {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-bottom: 0.2rem solid lighten(@waterloo, 35%);
    width: 100%;
   
    @media @phone {
        border: none;
    }

    h1 {
        .navigation-style();
        font-size: 4rem;
    }

    nav {
        .navigation-style();
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.8rem;
            padding: 0 1rem;
        }        
    }
}